body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.content-area {
  margin: 30px;
}
.input-area {
  margin: 25px;
}
.task-text {
  display: flex;
  align-items: center;
  height: 40px;
}
.hidden {
  display: none;
}
.delete-icon-area {
  display: flex;
  align-items: center;
  height: 40px;
}
.delete-icon {
  color: red;
}



.taskheader
{
  width: 50%;
  text-align: center;
  margin: auto;
}



.tasklist
{ 
  display: flex;
  width: 50%;
  margin: auto;
  flex-direction: column;
}



.task
{
  display: inline-block;
  margin: 5px;
  padding: 10px;
  border: 1px rgb(136, 136, 136) solid;
  border-radius: 10px;
}



.task .deletetaskbutton
{
  margin: 10px;
}



.task .incompletetask
{
  padding: 10px;
  color: red;
  word-wrap: break-word;
}



.task .completetask 
{
  padding: 10px;
  text-decoration: line-through;
  color: black;
  word-wrap: break-word;
}